.App {
  width: 100vw;
  font-family: 'Kakao';
}

.container {
  display: flex;
}

.cellLeader {
  line-height: 1.8;
  margin-right: 5px;
}

.cellMemberBox {
  line-height: 1.8;
}

.cellMemberContainer {
  display: flex;
  flex-direction: column;
}

.cellMemberArea {
  display: flex;
}

.cellMemberInfo {
  margin-right: 5px;
}

.cell {
  font-size: 10px;
}
